conten {
    min-height: 85vh;
    padding: 1.1rem 0 1.6rem;
 }
 
 input {
    vertical-align: middle;
 }
 
 @media (min-width:768px) {
    .conten {
       padding: 2.2rem 0 3.3rem;
    }
}
 
 .image-box {
    position: relative;
 
    display: inline-block;
    overflow: hidden;
 
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    min-width: 1.6rem;
    max-width: 100%;
    height: auto;
    min-height: 1.6rem;
 
    vertical-align: top;
 
    font-size: 0;
 }
 
 .image-box--square {
    position: relative;
 
    padding: 50%;
 }
 
 .image-box img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
 
    display: block;
 
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
 
    -o-object-fit: cover;
       object-fit: cover;
 }
 
 .product__inner {
    margin-bottom: 1.6rem;
    padding: 0.7rem;
 
    background-color: #fff;
    -webkit-box-shadow: 0 3px 6px #666;
            box-shadow: 0 3px 6px #666;
 }
 
 .product__title {
    padding: 0.5rem 0;
 
    font-size: 1.2rem;
 }
 
 .product__action {
    margin-top: 0.6rem;
 
    text-align: center;
 }
 
 .product__info {
    font-weight: 500;
 }
 
 .btn.product__remove {
    padding: 15px;
 
   // background: url(img/delete.png)center / contain no-repeat;
 }
 
 .product__title--card {
    font-size: 0.9rem;
 }
 
 .product__info--card {
    font-size: 0.8rem;
 }
 
 .nav-cart {
    position: relative;
 }
 
 .card__conteiner {
    position: absolute;
    z-index: 99;
    right: -25px;
 
    display: none;
 
    width: 360px;
    padding: 0 1.2rem;
 
    background: #fff;
    -webkit-box-shadow: 0 0 3px;
            box-shadow: 0 0 3px;
 }
 
 .product__counter {
    position: absolute;
    z-index: 2;
    top: 2px;
    right: -4px;
 
    padding: 3px 5px;
 
    background: #fff;
    -webkit-box-shadow: 0 2px 3px;
            box-shadow: 0 2px 3px;
 
    font-size: 0.7rem;
    line-height: 1;
 }
 
 .card__total-count {
    display: inline-block;
 
    margin-left: 5px;
    padding: 0 3px;
 
    color: #fff;
 
    font-weight: 700;
 }
 
 .slider-reng {
    position: relative;
 
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 25px;
 
    text-align: center;
 }
 
 .slider-reng input[type="range"] {
    position: absolute;
    bottom: 0;
    left: 0;
 }
 input[type=range] {
    width: 100%;
 
    -webkit-appearance: none;
 }
 
 input[type=range] {
    width: 100%;
 
    -webkit-appearance: none;
 }
 input[type=range]:focus {
    outline: none;
 }
 input[type=range]:focus::-webkit-slider-runnable-track {
    background: #2497e3;
 }
 input[type=range]:focus::-ms-fill-lower {
    background: #2497e3;
 }
 input[type=range]:focus::-ms-fill-upper {
    background: #2497e3;
 }
 input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
 
    cursor: pointer;
 
    border: 0;
    -webkit-border-radius: 1px;
            border-radius: 1px;
    background: #2497e3;
    -webkit-box-shadow: none;
            box-shadow: none;
 
    animate: 0.2s;
 }
 input[type=range]::-webkit-slider-thumb {
    position: relative;
    z-index: 2;
 
    width: 18px;
    height: 18px;
    margin-top: -7px;
 
    cursor: pointer;
 
    border: 1px solid #2497e3;
    -webkit-border-radius: 25px;
            border-radius: 25px;
    background: #a1d0ff;
    -webkit-box-shadow: 0 0 0 #000;
            box-shadow: 0 0 0 #000;
 
    -webkit-appearance: none;
 }
 input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
 
    cursor: pointer;
 
    border: 0;
    border-radius: 1px;
    background: #2497e3;
    box-shadow: none;
 
    animate: 0.2s;
 }
 input[type=range]::-moz-range-thumb {
    position: relative;
    z-index: 2;
 
    width: 18px;
    height: 18px;
 
    cursor: pointer;
 
    border: 1px solid #2497e3;
    border-radius: 25px;
    background: #a1d0ff;
    box-shadow: 0 0 0 #000;
 }
 input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
 
    cursor: pointer;
 
    color: transparent;
    border-color: transparent;
    background: transparent;
 
    animate: 0.2s;
 }
 input[type=range]::-ms-fill-lower,
 input[type=range]::-ms-fill-upper {
    border: 0;
    border-radius: 1px;
    background: #2497e3;
    box-shadow: none;
 }
 input[type=range]::-ms-thumb {
    position: relative;
    z-index: 2;
 
    width: 18px;
    height: 18px;
 
    cursor: pointer;
 
    border: 1px solid #2497e3;
    border-radius: 25px;
    background: #a1d0ff;
    box-shadow: 0 0 0 #000;
 }
 
 input[type=number]:invalid,
 input[type=number]:out-of-range {
    border-color: #d32506;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(211, 37, 6, 0.42);
            box-shadow: 0 0 0 0.2rem rgba(211, 37, 6, 0.42);
 }
 
 select {
    cursor: pointer;
 }
 
 .card__total {
    font-weight: 600;
 }
 .search {
    position: relative;
 }
 
 .search__button {
    position: absolute;
    top: 1px;
    right: 1px;
 
    width: 40px;
    height: 40px;
 
    border: none;
    -webkit-border-radius: 5px;
            border-radius: 5px;
   // background: #fff url(./img/search.png) 50% / 30px no-repeat;
 }
 .search__button:focus {
    outline: none;
 }
 
 .preload__product {
    width: 100%;
    height: 100vh;
 
  //  background: url(./img/preload.gif)50% / contain no-repeat;
 }